{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<h1>О магазине</h1>
    <p1>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem dolor dolore fuga harum perferendis
            qui, quibusdam sapiente voluptatibus voluptatum? Accusamus aperiam dolore ipsam itaque, rem repudiandae vel
            vitae voluptatum!
        </div>
        <div>Ab adipisci architecto asperiores assumenda beatae cumque earum error eum expedita id iste laboriosam
            maiores maxime natus nulla odio placeat porro provident quas qui quos repellat, sint tempora temporibus
            voluptate.
        </div>
        <div>Assumenda, et, repudiandae. Ad deleniti necessitatibus, quod rem sed sunt voluptatum. Aliquid dolore, eaque
            facilis incidunt inventore laudantium, magni obcaecati, optio porro quam qui quos ratione similique sunt
            velit voluptatem?
        </div>
        <div>A aliquid debitis distinctio error esse est ex excepturi, minima molestias neque optio quisquam ratione
            sequi vero voluptate voluptatem voluptates. Eaque, iure officiis? Ea ex ipsum nam, nihil praesentium quod.
        </div>
        <div>Consectetur cupiditate perspiciatis vitae. Accusantium aliquam aliquid consequuntur deleniti distinctio
            dolorem doloribus facilis fugit hic impedit incidunt itaque, nisi odit officiis optio quis quod
            reprehenderit sit unde, veniam voluptate voluptatum!
        </div></p1>
{% endblock %}
