{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}

    <h1>Последние поступления</h1>
    <div class="row">
    {{ include('products/_productList.html.twig', {'products': products}) }}
    </div>
        {% endblock %}
