{% extends 'base.html.twig' %}

{% block title %}Категории{% endblock %}

{% block body %}
    <h1>Категории товаров</h1>

    <div class="row">
        {% for category in categories %}
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <a href="{{ path('products_item', {'id': product.id}) }}" class="btn btn-primary ">Подробнее</a>
                        <a href="{{ path('orders_add_to_cart', {'id': product.id}) }}" class="btn btn-primary js-add-to-cart")>
                            Добавить в корзину
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
