{% extends 'base.html.twig' %}
{% block title %}
    Заказ {{ order.id }} успешно оплачен!
{% endblock %}
    Заказ оплачен
    <a href="{{ path('home') }}">Продолжить покупки</a>
{% block body %}

{% endblock %}


